.header {
  background: #1C1C21;
  position: relative;
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585AD;
  transition: color 0.3s ease;
  cursor: pointer;
}

.link:hover {
  color: #F2F2F3;
}

.link_active {
  color: #F2F2F3;
}

.link_position_last {
  margin-left: auto;
}